body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Open Sans';
}

.content > section {
  padding: 15%;
  background: url("../media/restaurant-hero-image.jpg");
  background-repeat: no-repeat;
}

p {
  padding:0;
  margin: 0;
}

section {
  text-align: center;
}

header {
  float: left;
  width: 100%;
  display: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
  color: white;
  padding: 10px;
}

.banner {
  padding-bottom: 15%;
  color: white;
  vertical-align: middle;
  font-size: 40px;
}

.button {
  width: 100%;
  padding: 15px 0;
  clear: both;
  text-align: center;
  display: inline-block;
  background-color: green;
  margin: 0 auto;
  color: white;
}

.banner > p {
}

.button > p {
  margin: 0 10px;
}

article {
  display: flex;
  margin: 0 5%;
}

.info {
  font-family: 'Open Sans';
  font-weight: 300;
  margin: 10px;
  flex-grow: 1;
}

.ordercontent {
  height: 500px;
  width: 100%;
  background-color: orange;

}

.orderform {
  clear: both;
  width: 70%;
  margin: 20px auto;
}

#menuitems {
  background-color: white;
  border: 1px solid black;
  height: 200px;
}

#orderlist {
  background-color: white;
  height: 200px;
  border: 1px solid black;
}

.colone {
  margin-top: 15px;
  float: left;
  width:60%;
}

.coltwo {
  margin-top: 15px;
  float: left;
  width:35%;
  margin-left: 5%;
}

#quantity {
  width: 50px;

}
